 .headDiv{
 		margin-left: auto;
		margin-right: auto;
 		height:500px;  
        width:600px;  
        overflow:auto; 
        position:relative;
        left:80px;
        /*top:50px;*/
    }  
    table,tr,td,th{
    	  
        border:1px solid #ccd;  
        border-collapse:collapse;  
    }  
    table{  
        width:100%;  
        table-layout: fixed;
    }  
    td{  
        height:24px;  
        width:200px; 
        line-height:24px;  
        padding:3px 5px;  
        background-color:#a1a3a6;  
        word-break:break-all;
        /*white-space:nowrap;  
       /* overflow: hidden;*/

    }  
      
    th{  
        height:24px;  
        width:200px;
        line-height:24px;  
        background-color:#84bf96;  
        white-space:nowrap;
        overflow:hidden;
    } 

    .divInner{
        text-align: center;
    }
    